*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}
header{
    text-align: center;
    padding: 20px 0;
}
a{
    text-decoration: none;
}
.font-ld{
    font-family: 'Lexend Deca', sans-serif;
}
.font-bs{
    font-family: 'Big Shoulders Display', cursive;
}

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 20%;
    padding: 20px;
    margin: 10px 0;
}
.card>img{
    margin: 20px;
}
.card>h1{
    color: hsl(0, 0%, 95%);
    margin: 20px;
}
.card>p{
    padding-right: 25px;
    color: hsl(0, 0%, 100%, 0.75);
    margin: 20px;
}
.card1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}
.card1 a .btn{
    color: hsl(31, 77%, 52%);
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
.card2 a .btn{
    color: hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}
.card3 a .btn{
    color: hsl(179, 100%, 13%);
}
.btn{
    padding: 10px 25px;
    margin: 60px 20px 20px;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 25px;
    outline: none;
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    font-weight: bold;
}
a .btn:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
footer{
    text-align: center;
}
footer .btn{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
footer a .btn:hover{
    background-color: hsla(184, 100%, 22%, 0.562);
    color: hsl(179, 100%, 13%);
}
@media screen  and (max-width: 600px){
    .card{
        width: 80%;
        border-radius: 8px;
    }
}

@media screen  and (max-width: 992px) and (min-width: 600px){
    .card{
        width: 30%;
        border-radius: 8px;
        margin-left: 10px;
    }
}